body {
  background-color: lightskyblue;
}

.container-box {
  width: 500px;
  padding: 50px;
  margin-top: 20px;
  background-color: white;
}

.card-footer {
  background-color: lightgray;
  text-align: center;
  margin-bottom: 0px;
}
