body {
  background-color: lightskyblue;
}

.container-box {
  width: 500px;
  padding: 50px;
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: white;
}

.about-me-saturn {
  width: 100px;
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.card-footer {
  background-color: lightgray;
  text-align: center;
  margin-bottom: 0px;
}
