body {
  background-image: url(./Assets/Images/44911446704_8e74b38b42_o.width-2500.jpg);
}

h1,
h2,
p {
  font-family: "Fira Sans", sans-serif;
  font-family: "Secular One", sans-serif;
}

.container {
  position: relative;
  min-height: 100vh;
}

.container-box {
  width: 600px;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
}

.about-me-saturn {
  width: 300px;
  float: left;
  padding: 20px 20px 20px 0px;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.card-footer {
  background-color: lightgray;
  text-align: center;
  position: relative;
  bottom: 0px;
}
.img-thumbnail {
  width: 300px;
}
